affine==2.3.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012322014/work
Cartopy @ file:///Users/runner/miniforge3/conda-bld/cartopy_1642061030747/work
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046166270/work
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1636280964694/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1641584610847/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822678136/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1639699343700/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1638376468558/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1639926335016/work
GDAL==3.4.0
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1638382567988/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1639976194428/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635837079485/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833843092/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359034653/work
matplotlib-scalebar==0.8.0
munch==2.5.0
munkres==1.1.4
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1636303583736/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1641177068607/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1636559170621/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1637203995289/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1610646860606/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862741516/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1637772958915/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1637430856549/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1640464197451/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1637806815742/work
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1637399991682/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snuggs==1.4.7
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1640031423081/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1639125986756/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1638470968221/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1641731510635/work
